html,
body {
  height: 100%;
}

body {
  background: linear-gradient(45deg, #c2a70d, #c6b34a, #c2a70d, #c6b34a);
  background-size: 400% 400%;
  -webkit-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.landing-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

#particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 400px;
  font-size: 24px;
  color: #fff;
  margin: auto;
  position: absolute;
  top: 20vh;
  right: 0;
  left: 0;
}

#hero h2 {
  font-size: 48px;
}

#features {
  background: ghostWhite;
  padding: 40px 0;
  margin-top: 40vh;
  position: relative;
}

#features h2 {
  text-align: center;
}

#features figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1000px;
  margin: 0 auto 20px;
}

#features:last-child {
  margin-bottom: 0;
}

#features figcaption {
  padding: 40px;
}

#chart {
  background: ghostWhite;
  padding: 40px 0;
  margin-top: 5%;
  position: relative;
}

.loginpanel {
  background: rgba(255, 255, 255, 0.4);
  padding: 50px 44px 0;
  border: 1px solid #9397cd;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 30%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#loginUsername {
  width: 180px;
  border: 1px solid 0;
  border-radius: 4px;
  margin-bottom: 20px;
}

#loginPassword {
  width: 180px;
  border: 1px solid 0;
  border-radius: 4px;
  margin-bottom: 20px;
}

#loginSubmitButton {
  width: 180px;
  border-radius: 4px;
  margin-bottom: 30%;
}

#createAccountButton {
  background: rgba(255, 255, 255, 0.3);
  color: whitesmoke;
  width: 180px;
  border-radius: 4px;
  margin-bottom: 20%;
}

#chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal-90w {
  width: 90%;
}

.tabs {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 24px 32px;
  border: 1px solid #f1f1f1;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
  margin: 40px 0;
}

.tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

.tab-progress {
  position: absolute;
  left: -1px;
  right: -1px;
  top: 66px;
  height: 3px;
  z-index: 0;
  background-color: #492796;
  -webkit-transform-origin: 0%;
  transform-origin: 0%;
}

.tab {
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  color: #492796;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
  margin-right: 24px;
  -webkit-transition: color 0.16s ease-in-out,
    background-color 0.16s ease-in-out, border-color 0.16s ease-in-out;
  transition: color 0.16s ease-in-out, background-color 0.16s ease-in-out,
    border-color 0.16s ease-in-out;
}

.tab:focus {
  -webkit-box-shadow: 0 0 0 4px rgba(73, 39, 150, 0.5);
  box-shadow: 0 0 0 4px rgba(73, 39, 150, 0.5);
}

.tab:focus:not(:focus-visible) {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.tab:focus-visible {
  -webkit-box-shadow: 0 0 0 4px rgba(73, 39, 150, 0.5);
  box-shadow: 0 0 0 4px rgba(73, 39, 150, 0.5);
}

.tab.active {
  background-color: #492796;
  border-color: #492796;
  color: white;
  cursor: default;
}

.panel-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.panel {
  position: absolute;
}

.side-tabs {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 24px 32px;
  border: 1px solid #f1f1f1;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}
/* bbjb */

.side-tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 20px;
  width: 150px;
}

/*------------------------------------------------------------------------------------------------------*/



#team #profile-group > div:nth-of-type(1) .profile-photo {
  background: url('../images/brian.png');
  background-size: cover;
}

#team #profile-group > div:nth-of-type(2) .profile-photo {
  background: url('../images/saejin.png');
  background-size: cover;
}

#team #profile-group > div:nth-of-type(3) .profile-photo {
  background: url('../images/joe.png');
  background-size: cover;
}

#team #profile-group > div:nth-of-type(4) .profile-photo {
  background: url('../images/sean.png');
  background-size: cover;
}
#team #profile-group > div:nth-of-type(5) .profile-photo {
  background: url('../images/noah.png');
  background-size: cover;
}

#team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 160px auto;
  position: relative;
}
#team h2 {
  color: #fff;
  margin-bottom: 40px;
}
#team #profile-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

#team #profile-group > i {
  font-size: 80px;
  padding-top: 40px;
}
#team #profile-group > i:last-child {
  display: none;
}
#team .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
#team .profile-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background: #f8f8ff;
  border-radius: 50%;
  margin-bottom: 10px;
}
#team .profile-frame:hover .profile-photo {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#team .profile-photo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#team figcaption {
  font-size: 24px;
  text-align: center;
  color: #fff;
  margin-bottom: 4px;
}
#team .profile-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#team .profile-links a {
  margin: 0 10px;
}

#team .profile-links i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#team .profile-links i:hover {
  color: #71b8c2;
}

#team i {
  font-size: 40px;
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
